.App {
  text-align: center;
  padding: 20px;
}

.input-area {
    text-align: center;
}

.input-field {
    height: 50px;
    width: 300px;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    text-align: center;
}

#submit-button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;

}

.checkBox {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 15px;
}

.noDisplay {
    display: none;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}
